.myName{

    background: #ffffff;
    background: -webkit-linear-gradient(
        to right,
        #ff0000,
        #36c6f1
    ); 
    background: linear-gradient(
        to right,
        #fc9700,
        #9932cc
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.dark-mode {
    background-color: #1b1b1f;
    color: #fff;

    .navbar {
        background-color: transparent;
    }

    .navbar.colorChange {
        background-color: #1b1b1f;
        border-bottom: 1px solid #eff0f3;
    }

    .myName{

        background: #ffffff; /* fallback for old browsers */
        background: -webkit-linear-gradient(
            to right,
            #ff0000,
            #36c6f1
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
            to right,
            #fc9700,
            #9932cc
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    a,
    h1,
    h2,
    p {
        color: #fff;
    }

    .mobilemenu--content {
        background-color: #202127;

        button {
            color: white;
        }
    }

    .dropdown-content {
        background-color: #202127;
    
        a:hover {
            background-color: #2b2f36;
        }
    }

    .mobilemenu--content__links--appearance {
        background-color: #2b2f36;
    }

}