@tailwind base;
@tailwind components;
@tailwind utilities;

.light, .light label {
    background-color: #ffffff;
    color: #000000;
  }
  
  .dark, .dark label, .dark input, .dark textarea {
    background-color: #000000;
    color: #ffffff;
  }

* {
  box-sizing: border-box;
}

.animated-leftSlide{
  animation: slideInFromLeft ease-in 1s;
}

@keyframes slideInFromLeft{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}

.animated-rightSlide{
  animation: slideInFromRight ease-in 1s;
}

@keyframes slideInFromRight{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}

.animated-topSlide{
  animation: slideInFromBottom ease-in 1s;
}

@keyframes slideInFromBottom{
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0);
  }
}

.animated-botSlide{
  animation: slideInFromTop ease-in 1s;
}

@keyframes slideInFromTop{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(100%);
  }
}